@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --primary: hsl(211, 100%, 56%);
  --secondary: 	hsl(210, 9%, 47%);
  --success: hsl(152, 65%, 33%);
  --danger: hsl(354, 70%, 53%);
  --warning: hsl(45, 100%, 50%);
  --info: 	hsl(191, 88%, 51%);
  --light: hsl(210, 17%, 98%);
  --dark: 	hsl(210, 11%, 15%);
  --paddingX: 10px;
  --paddingY: 5px;
  --radius: 10px;
  --gap: 10px;

  --card-dark: hsl(0, 0%, 10%);
  --background-dark: hsl(210, 11%, 8%); /* A common dark background */
  --text-dark: hsl(210, 17%, 90%); /* Light text for dark backgrounds */
}
input, select {
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
input:focus, select:focus {
  box-shadow: 0 0 0 4px #34b1eb;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.error-font-size {
  font-size: 14px;
}
button {
  cursor: pointer;
}

.ql-editor h1 {
  font-size: 2rem;
  font-weight: bold;
}

.ql-editor h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.ql-editor h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.ql-editor ol {
  padding-left: 1.5rem;
} 
.quill-background * {
  background: none !important;
  color: white !important;
}